body{
  color:#40514E;
  margin:0;
  text-align:center;
  font-family: 'Merriweather', serif;
}
h1{
  font-size:5.625rem;
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color:#66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size:2.5rem;
  color:#66BFBF;
  font-weight:normal;
  padding-top:10px;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}
a{
  color: #111;
  font-family: 'Montserrat', sans-serif;
  margin:100px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
p{
  line-height: 2;
}
.height-sec{
  height:7vh;
  padding:0;
  margin:0;
}
.navbar-brand{
  padding-top:0;
  padding-bottom:0;
}
a{
  margin:0 0.5vw;
}
.navbar{
  background-color:#072227;
  color:#fff;
  /* height:20vh; */
  height:7vh;
}
th{
  padding:10px;
}
.courses{
  padding:0px;
}
.row{
  margin:20px;
}
.education{
  background-color:#35858B ;
}
.center{
  
  margin:0 auto 0 auto;
}
table{
  background-color: #fff;
}
.end{
  border:dotted gray 6px;
  border-bottom:none;
  width:4%;
  margin:100px auto;
}
.top-container{
  background-color: #E4F9F5;
  position:relative;
  padding-top:100px;
}
.middle-container{
  margin:100px 0;
}
.bottom-container{
  background-color: #AEFEFF;
  padding:20px 20px 0px 20px;
  margin-bottom:0;
}

.nav-link{
  padding: 2px 10px 2px 10px;
}
.pro{
  text-decoration:underline;
}
.top-cloud{
  position:absolute;
  right:300px;
  top:40px;
}
.flex-img{
  float:left;
}
.flex-form{
  float:right;
}

.flex{
  display: flex;
}
.contact-me{
  background-color: #4FBDBA; 
  padding: 50px;
}
.flex-sub{
  width: 50%;
}

input, textarea{
  margin: 10px;
  padding: 15px;
  width: 80%;
  border-radius: 25px;
  border: 1px solid rgb(180, 180, 180);
  color: rgb(185, 185, 185);
}
input:focus, textarea:focus{
  margin: none;
}
input[type=submit]{
  background-color: #4FBDBA;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}
input:hover[type=submit]{
  color: #e065e0;
}

.skilll{
  background-color:#4FBDBA;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.black{
  color:black;
}
.contact-me{
  padding:10px;
  background-color: #fff;
}
.bottom-cloud{
  position:absolute;
  left:250px;
  bottom:300px;
}

.skill-row{
  width:50%;
  margin:50px auto 50px auto;
  text-align: left;

}
.wrapper {
  text-align : center;
}
.image, .form {
  display: inline-block;
  vertical-align: top;
}
.webd-img{
  width:25%;
  float:left;
  margin-right:30px;
}
.dsa-img{
  width:25%;
  float:right;
  margin-left: 30px;
}
.cpp-img{
  width:25%;
  float:left;
  margin-right:30px;
}
.otherlang{
  width:25%;
  float:right;
  margin-left: 30px; 
}
.img{
  width:70%;
  height:50%;
}
.intro{
  width:30%;
  margin:auto;
}
.cont-msg{
  width:40%;
  margin:40px auto 60px;
}
.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color:#11468F;
  font-size: 0.75rem;
  padding:20px 0;
}